@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --light-grey: rgba(238, 238, 238, 0.71);
    --primary: #000000;
    --dark-orange: #f66a15;
    --medium-orange: #f47322;
    --yellow: #ffaf19;
    --radius: 50%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    position: relative;
    padding: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
}

.search-form {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 620px;
    margin-left: 76px;
    background: var(--light-grey);
    border-radius: 10px;
}

.search-input {
    width: 100%;
    padding: 13px 20px;
    background: transparent;
    border: none;
}

.search-input::placeholder {
    font-size: 16px;
    line-height: 23px;
    color: #57565b;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    display: block;
    padding: 16px 30px;
    line-height: 16px;
    background: #ebebeb;
    border-radius: 50px;
    text-decoration: none;
    color: var(--primary);
}

.shopping-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    margin-left: 30px;
    background: var(--dark-orange);
    border-radius: var(--radius);
}

.shopping-counter {
    position: absolute;
    right: -2px;
    bottom: -4px;
    display: block;
    padding: 5px;
    font-size: 8px;
    line-height: 9px;
    background: var(--yellow);
    border-radius: var(--radius);
    color: var(--primary);
}

.slide {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 400px;
    padding: 0 100px;
    border-radius: 20px;
    overflow: hidden;
}

.slide::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.slide-content {
    position: relative;
    max-width: 400px;
}

.slide-title {
    margin: 0 0 15px;
    font-size: 50px;
    font-weight: 700;
    line-height: 51px;
}

.slide-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.button  {
    display: inline-block;
    padding: 12px 50px;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    border-radius: 25px;
    text-decoration: none;
}

.button-primary {
    background: var(--medium-orange);
    color: white;
}

.button-default {
    background: white;
    color: #5f5f61;
}

.slide__text--light {
    background: grey;
    color: white;
}

.slide-summer {
    background: url('../img/summer.png') no-repeat;
    background-size: cover;
}

.promo {
    position: relative;
    padding: 50px 0 50px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.promo-card {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    max-width: 570px;
    min-height: 380px;
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
}

.promo-card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: -1;
}

.promo-card__text--light {
    color: white;
}

.promo-card__title {
    margin: 4px 0 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__text {
    max-width: 180px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__price {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__delivery {
    display: block;
    margin: 8px 0 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}