@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --light-grey: rgba(238, 238, 238, 0.71);
    --primary: #000000;
    --dark-orange: #f66a15;
    --medium-orange: #f47322;
    --light-orange: #f37321;
    --yellow: #ffaf19;
    --light-green:#d0fd89;
    --bg-grey: #f6f6f6;
    --radius: 50%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    position: relative;
    padding: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
}

.search-form {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 620px;
    margin-left: 76px;
    background: var(--light-grey);
    border-radius: 10px;
}

.search-input {
    width: 100%;
    padding: 13px 20px;
    background: transparent;
    border: none;
}

.search-input::placeholder {
    font-size: 16px;
    line-height: 23px;
    color: #57565b;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    display: block;
    padding: 16px 30px;
    line-height: 16px;
    background: #ebebeb;
    border-radius: 50px;
    text-decoration: none;
    color: var(--primary);
}

.shopping-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    margin-left: 30px;
    background: var(--dark-orange);
    border-radius: var(--radius);
}

.shopping-counter {
    position: absolute;
    right: -2px;
    bottom: -4px;
    display: block;
    padding: 5px;
    font-size: 8px;
    line-height: 9px;
    background: var(--yellow);
    border-radius: var(--radius);
    color: var(--primary);
}

.slide {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 400px;
    padding: 0 100px;
    border-radius: 20px;
    overflow: hidden;
}

.slide::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.slide-content {
    position: relative;
    max-width: 400px;
}

.slide-title {
    margin: 0 0 15px;
    font-size: 50px;
    font-weight: 700;
    line-height: 51px;
}

.slide-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.button  {
    display: inline-block;
    padding: 12px 50px;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.button-primary {
    background: var(--medium-orange);
    color: white;
}

.button-default {
    background: white;
    color: #5f5f61;
}

.button-outline {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border: 2px solid var(--light-orange);
    background: transparent;
    border-radius: 33px;
    color: var(--light-orange);
}

.button-center {
    display: block;
    width: 315px;
    margin: 60px auto auto;
}

.slide__text--light {
    background: grey;
    color: white;
}

.slide-summer {
    background: url('../img/summer.png') no-repeat;
    background-size: cover;
}

.promo {
    position: relative;
    padding: 50px 0 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.promo-card {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    max-width: 570px;
    min-height: 380px;
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
}

.promo-card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: -1;
}

.promo-card__text--light {
    color: white;
}

.promo-card__title {
    margin: 4px 0 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__text {
    max-width: 180px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__price {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__delivery {
    display: block;
    margin: 8px 0 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.promo-card__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.section__title {
    margin-bottom: 47px;
    font-size: 32px;
    font-weight: 500;
    line-height: 23px;
}

.section-grey {
    background: var(--bg-grey);
}

.delivery-week {
    position: relative;
    padding: 100px 0;
}

.delivery-week__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.delivery-week__card {
    position: relative;
    width: 100%;
    max-width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
}

.delivery-week__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivery-week__card-tag {
    position: absolute;
    top: 16px;
    left: 10px;
    display: block;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    border-radius: 30px;
    color: #49494f;
}

.tag-healthy {
    background: var(--light-green);
}

.tag-vegetable {
    background: #aebc41;
    color: white;
}

.tag-meat {
    background: #b86b78;
    color: white;
}

.tag-bird {
    background: #d68334;
    color: white;
}

.tag-fish {
    background: #cd6255;
    color: white;
}

.tag-childrens {
    background: #fffdbf;
}

.tag-parents {
    background: #f6fdc8;
}

.tag-hollyday {
    background: #fef7fe;
}

.category {
    position: relative;
    padding: 40px 0 60px;
}

.category__tabs-content {
    display: flex;
    justify-content: space-between;
    gap: 37px;
}

.category__tabs {
    display: flex;
    margin: 0 0 62px;
    padding: 0;
    list-style: none;
}

.category__tabs-item {
    margin-right: 58px;
}

.category__tabs-link {
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    text-decoration: none;
}

.category__tabs-item--active .category__tabs-link {
    color: var(--light-orange);
}

.category__tabs-card {
    flex: 1 1 auto;
    max-width: 270px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.category__tabs-card-content {
    padding: 23px;
}

.category__tabs-card-title {
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: var(--primary);
}

.category__tabs-card-description {
    margin-bottom: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: #b9b9be;
}

.category__tabs-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category__tabs-card-price {
    display: block;
    font-size: 23px;
    font-weight: 500;
    line-height: 23px;
    color: #4b4b51;
}

.category__tabs-card-weight {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: #aaaab1;
}

.advantages {
    position: relative;
    padding: 100px 0 202px;
}

.advantages__title {
    margin-bottom: 52px;
}

.advantages__card-content {
    display: flex;
    justify-content: space-between;
    gap: 37px;
}

.advantages__card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 270px;
    height: 296px;
    padding: 30px 24px 25px;
    border: 1px solid #e9e9e9;
    background: white;
    border-radius: 18px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.advantages__card-title {
    max-width: 180px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: var(--primary);
}

.advantages__card-description {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #49494F;
}

.footer {
    position: relative;
    padding: 40px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-nav__link {
    margin-right: 50px;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: var(--primary);
}

.social-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    background: #c4c4c4;
    text-decoration: none;
    border-radius: var(--radius);
}